<?xml version="1.0" encoding = "UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0
Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-
transitional.dtd">
<html xmlns = "http://www.w3.org/1999/xhtml">
<head>
<title>About Us</title>

		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		
		<script src="http://code.jquery.com/jquery-1.7.min.js" ></script>
		<script src="http://code.jquery.com/ui/1.7.0/jquery-ui.js" ></script>

		<link rel="stylesheet" media="only screen and (max-width: 480px)" href="aboutstyle2.css" />
		<link rel="stylesheet" media="only screen and (max-width: 480px)" href="grid2.css" />
		<link rel="stylesheet" media="only screen and (min-width: 481px)" href="aboutstyle.css" />
		<link rel="stylesheet" media="only screen and (min-width: 481px)" href="grid.css" />

</head>
<body>
	<div class="header">
			<div class="container_12">
				<div class="topButton"><a href="/main">Home</a></div>
				<div class="topButton"><a href="/weather">Weather</a></div>
				<div class="topButton"><a href="/earth">Earthquakes</a></div>
				<div class="topButton"><a href="/development">U.N.</a></div>
				<div class="topButton"><a href="/about">About Us</a></div>
				<div class="topButton"><a href="/contact">Contact Us</a></div>
			</div>
		</div>
		
		<div class="container_12">
		<div id="mainbox">
		<br /><br />
<div><h1>The Team</h1>
<p>Team Jormungandr is a proud and fearsome group of programmers. 
<br /> Taught to write code before we learned to walk, there is no one in the business that is our match. 
<br /> We chose the name Jormungandr because like our namesake in Ancient Norse Mythology, we will rise 
<br /> near the Endtimes to do battle with the God of Thunder. </p>
</div>
<br />
<br />
<br />
<div><h1>The Crew</h1>
<br />
<h2>Megan Inch</h2>
<center><img src="/assets/Megan.jpg" width="200"></img></center>
<p>The leader of Team Jormungandr, Megan rules with a Voice of Reason and an Iron Fist. </p>
<br />
<h2>Andrew Mcleman</h2>
<center><img src="/assets/Andrew.gif" width="200"></img></center>
<p> Andrew is the brains of the team. Foolish indeed are those who dare stand in the way of one of his plans. </p>
<br />
<h2>Fredric Dalqvist</h2>
<center><img src="/assets/Fredric.jpg" width="200"></img></center>
<p> Fredric is the muscle. He is rumored to write his code by glaring menacingly at the computer, and the computer types out the code for him, lest it wakes his fury. </p>
<br />
</div>

		
		
		</div>
		</div>
		<br /><br /><br /><br /><br />
</body>
</html>