<?xml version="1.0" encoding = "UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0
Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-
transitional.dtd">
<html xmlns = "http://www.w3.org/1999/xhtml">
<head>
<title> Contact Us</title>

		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		
		<script src="http://code.jquery.com/jquery-1.7.min.js" ></script>
		<script src="http://code.jquery.com/ui/1.7.0/jquery-ui.js" ></script>

		<link rel="stylesheet" media="only screen and (max-width: 480px)" href="contactstyle2.css" />
		<link rel="stylesheet" media="only screen and (max-width: 480px)" href="grid2.css" />
		<link rel="stylesheet" media="only screen and (min-width: 481px)" href="contactstyle.css" />
		<link rel="stylesheet" media="only screen and (min-width: 481px)" href="grid.css" />

</head>
<body>
	<div class="header">
			<div class="container_12">
				<div class="topButton"><a href="/main">Home</a></div>
				<div class="topButton"><a href="/weather">Weather</a></div>
				<div class="topButton"><a href="/earth">Earthquakes</a></div>
				<div class="topButton"><a href="/development">U.N.</a></div>
				<div class="topButton"><a href="/about">About Us</a></div>
				<div class="topButton"><a href="/contact">Contact Us</a></div>
			</div>
		</div>
		
		<br /><br /><br /><br /><br /><br /><br />
		
				<div class="container_12">
				<div id="mainbox">
		
<center><form method="post" action="http://homepages.abdn.ac.uk/e.pignotti/pages/post.php" style="width: 500px" >
<fieldset>
<legend="Contact Us" />
<h2>Name:</h2>
<br />
<input type="text" name="Name" id="Name" size="30" />
<br />
<h2>Email:</h2>
<br />
<input type="text" name="email" id="email" size="30" />
<br />
<h2>Message</h2>
<textarea name="message" id="message" rows="6" cols="45">
Enter your message here
</textarea>
<br />
<input type="submit" value="Send Message" />
<br />
<br />
<p>.</p>
</fieldset>
</form>
<form action="http://localhost:3000/main" style="width: 50px">
<input Type="submit" value="cancel">
</form>
</center>
</div>
</div>
</body>
</html>