<html>
<body>
<form action="/search" method="post">
<input name="key" type="input" />
<input value="Enter Country" type="submit" />
</form>
<div class="wrapper">
<div class="profile">
   <table id= "userdata" border="2">
	<h1>UN Development Programme Data</h1>
  <thead>
            <th>Award Id</th>
            <th>Award Title</th>
			<th>Award Description</th>
            <th>Start Date</th>
            <th>End Date</th>
			<th>Country</th>
        </thead>
      <tbody>
		
       </tbody>
   </table>

</div>
</div>
<div id="map_canvas"></div>  
</body>
</html>