<?xml version="1.0" encoding = "UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0
Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-
transitional.dtd">
<html xmlns = "http://www.w3.org/1999/xhtml">
<head>
<title>Home</title>
<%= stylesheet_link_tag "mainstyle.css" %>
<%= stylesheet_link_tag "grid.css" %>
</head>
<body>
	<div class="header">
			<div class="container_12">
				<div class="topButton"><a href="/main">Home</a></div>
				<div class="topButton"><a href="/weather">Weather</a></div>
				<div class="topButton"><a href="/earth">Earthquakes</a></div>
				<div class="topButton"><a href="/development">U.N.</a></div>
				<div class="topButton"><a href="/about">About Us</a></div>
				<div class="topButton"><a href="/contact">Contact Us</a></div>
			</div>
		</div>
		<br /><br />
		<p>Hello, and welcome to</p>
		<h1>PANIC! at the website</h1>
		<br />
		<p>Here you will find all the information you will ever need about Weather, Earthquakes, and UN development projects. <br />
		Click any of the links in the header to start your adventure!</p>
		
		<br /><br /><br /><br /><br />
</body>
</html>