<html>
<head>
	<%= stylesheet_link_tag "devstyle.css" %>
	<%= stylesheet_link_tag "grid.css" %>
<title>Search results
</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>

<script>

    $(function() {

   var people = [];

   $.getJSON('data.json', function(data) 
   {
       $.each(data.data, function(i, f) 
	   {
			
          var tblRow = "<tr>" + "<td>" + f.awardid + "</td>" +
           "<td>" + f.award_title + "</td>" + "<td>" + f.award_description + "</td>" + "<td>" + f.start_date + "</td>" + "<td>" + f.end_date + "</td>"  + "<td>" + f.country_operating_unit + "</td>" + "</tr>"
			var country = "<%=@country%>" + "";
		   if(f.country_operating_unit.indexOf( country ) > -1)
			{
		   $(tblRow).appendTo("#userdata tbody");
		   }
     });

   });

});
</script>
</head>
<body>
<div class="header">
			<div class="container_12">
				<div class="topButton"><a href="/main">Home</a></div>
				<div class="topButton"><a href="/weather">Weather</a></div>
				<div class="topButton"><a href="/earth">Earthquakes</a></div>
				<div class="topButton"><a href="/development">U.N.</a></div>
				<div class="topButton"><a href="/about">About Us</a></div>
				<div class="topButton"><a href="/contact">Contact Us</a></div>
			</div>
		</div>
<h1>Search results</h1>
<div class="wrapper">
<div class="profile">
   <table id= "userdata" border="2">
  <thead>
            <th>Award Id</th>
            <th>Award Title</th>
			<th>Award Description</th>
            <th>Start Date</th>
            <th>End Date</th>
			<th>Country</th>
        </thead>
      <tbody>
		
       </tbody>
   </table>

</div>
</div>
<p><%=@country%><p>
<p> <a href="/test"> Back</a> </body>
</html>