<html>
<head>
<title>Search results
</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>

<script>

    $(function() {

   var people = [];

   $.getJSON('data.json', function(data) 
   {
       $.each(data.data, function(i, f) 
	   {
			
          var tblRow = "<tr>" + "<td>" + f.awardid + "</td>" +
           "<td>" + f.award_title + "</td>" + "<td>" + f.award_description + "</td>" + "<td>" + f.start_date + "</td>" + "<td>" + f.end_date + "</td>"  + "<td>" + f.country_operating_unit + "</td>" + "</tr>"
			var country = "<%=@country%>" + "";
		   if(f.country_operating_unit.indexOf( country ) > -1)
			{
		   $(tblRow).appendTo("#userdata tbody");
		   }
     });

   });

});
</script>
</head>
