<html>
	<head>
		<title>Weather</title>
		
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		
		<script src="http://code.jquery.com/jquery-1.7.min.js" ></script>
		<script src="http://code.jquery.com/ui/1.7.0/jquery-ui.js" ></script>
		<%= stylesheet_link_tag "style1.css" %>
		<%= stylesheet_link_tag "grid.css" %>
		<script type="text/javascript" src="myscripts.js"></script>
		<script src="http://openlayers.org/api/2.12/OpenLayers.js"></script>
		<script src="http://openweathermap.org/js/OWM.OpenLayers.1.3.4.js" ></script>
		
		<script>
			
			var namer = ""
			var searched = "<%=@searched%>"
			var lon = "0.1275"
			var lat = "51.5072"
			
			function weatherfix(data)
			{
				if(searched == "")
				{
					document.write('<div class="bodyo">Search for a location first</div>')
				}

				for(var a=0; a < data.Locations.Location.length;a++)
					{	
						
						if(data.Locations.Location[a].name==searched)
						{
							namer += data.Locations.Location[a].id
							lat = data.Locations.Location[a].latitude
							lon = data.Locations.Location[a].longitude
						}
					}
					
				var link = 'http://datapoint.metoffice.gov.uk/public/data/val/wxfcs/all/json/'
				link += namer
				link += '?res=3hourly&key=db83096d-45ea-4527-b4af-8421de7f4370&callback=weatherfix2'

				document.writeln('<p><script type="text/javascript" language="javascript" src="' + link + '"><\/script><p>')

			}		
			
			function weatherfix2(data2)
			{
				var s = data2.SiteRep.DV.Location.name
				document.writeln('<div class="headero">' + "Forecast for " + s + "</div>");
				//Cycles through days
				for(var i=0; i < data2.SiteRep.DV.Location.Period.length;i++)
				{	
						
					var testt = data2.SiteRep.DV.Location.Period[i].value
					var myDate = new Date(testt.substr(0,10))
						
					switch(myDate.getDay())
						{
							case 0:
								day="Sunday";
								break;
							case 1:
								day="Monday";
								break;
							case 2:
								day="Tuesday";
								break;
							case 3:
								day="Wednesday";
								break;
							case 4:
								day="Thursday";
								break;
							case 5:
								day="Friday";
								break;
							case 6:
								day="Saturday";
								break;
						}
						
					var weathertable = '<center><table id="weathertableu" border="0"><th colspan="100%">'+ day + '</th>';
					var weathertable2 = "";
					var weathertable3 = "";
					var weathertable4 = "";
					var weathertable5 = "";
					
					
					//Cycles through all 3 hour intervals
					for(var j=0; j < data2.SiteRep.DV.Location.Period[i].Rep.length; j++)
					{		
						
						weathertable2 += '<td width="90px">' + data2.SiteRep.DV.Location.Period[i].Rep[j].T + "&deg;C" + '</td>';
						weathertable3 += '<td width="90px">' + ((data2.SiteRep.DV.Location.Period[i].Rep[j].$)/180)*3 + ':00' + '</td>';
													
						lon = data2.SiteRep.DV.Location.lon;
						lat = data2.SiteRep.DV.Location.lat;
						
						var cond = "";
						var pic = "";
						var type = data2.SiteRep.DV.Location.Period[i].Rep[j].W;
						switch(type)
						{
							case "0":
								cond+= "Clear night";
								pic += "assets/clear.gif";
								break;
							case "1":
								cond+= "Sunny day";
								pic += "assets/sunny.png";
								break;
							case "2":
								cond+= "Partly cloudy";
								pic += "assets/partly_cloudy.png";
								break;
							case "3":
								cond+= "Partly cloudy";
								pic += "assets/partly_cloudy.png";
								break;
							case "5":
								cond+= "Mist";
								pic += "assets/cloudy.png";
								break;
							case "6":
								cond+= "Fog";
								pic += "assets/cloudy.png";
								break;
							case "7":
								cond+= "Cloudy";
								pic += "assets/cloudy.png";
								break;
							case "8":
								cond+= "Overcast";
								pic += "assets/cloudy.png";
								break;
							case "9":
								cond+= "Light rain";
								pic += "assets/rain.png";
								break;
							case "10":
								cond+= "Light rain";
								pic += "assets/rain.png";
								break;
							case "11":
								cond+= "Drizzle";
								pic += "assets/rain.png";
								break;
							case "12":
								cond+= "Light rain";
								pic += "assets/rain.png";
								break;
							case "13":
								cond+= "Heavy rain";
								pic += "assets/rain.png";
								break;
							case "14":
								cond+= "Heavy rain";
								pic += "assets/rain.png";
								break;
							case "15":
								cond+= "Heavy rain";
								pic += "assets/rain.png";
								break;
							case "16":
								cond+= "Sleet shower";
								pic += "assets/rain.png";
								break;
							case "17":
								cond+= "Sleet shower";
								pic += "assets/rain.png";
								break;
							case "18":
								cond+= "Sleet";
								pic += "assets/rain.png";
								break;
							case "19":
								cond+= "Hail shower";
								pic += "assets/rain.png";
								break;
							case "20":
								cond+= "Hail shower";
								pic += "assets/rain.png";
								break;
							case "21":
								cond+= "Hail";
								pic += "assets/rain.png";
								break;
							case "22":
								cond+= "Light snow";
								pic += "assets/snow.gif";
								break;
							case "23":
								cond+= "Light snow";
								pic += "assets/snow.gif";
								break;
							case "24":
								cond+= "Light snow";
								pic += "assets/snow.gif";
								break;
							case "25":
								cond+= "Heavy snow shower";
								pic += "assets/snow.gif";
								break;
							case "26":
								cond+= "Heavy snow shower";
								pic += "assets/snow.gif";
								break;
							case "27":
								cond+= "Heavy snow";
								pic += "assets/snow.gif";
								break;
							case "28":
								cond+= "Thunders shower";
								pic += "assets/thunder.gif";
								break;
							case "29":
								cond+= "Thunders shower";
								pic += "assets/thunder.gif";
								break;
							case "30":
								cond+= "Thunder";
								pic += "assets/thunder.gif";
								break;
						}
						
						weathertable4 += '<td width="90px">' + cond + '</td>';
						weathertable5 += '<td width="90px"><img src="' + pic + '"></img></td>';
						

					}
					
					var weathertablecomplete = weathertable + '<tr>' + weathertable3 + '</tr>' + '<tr>' + weathertable5 + '</tr>' + '<tr>' + weathertable4 + '</tr>' + '<tr>' + weathertable2 + '</tr>' + '</table></center><br/><br/><br/>'
					document.writeln(weathertablecomplete);
					

					
				}		
			}

		</script>
		  
	</head>
	<body onload="init()">
	<div class="header">
			<div class="container_12">
				<div class="topButton"><a href="/main">Home</a></div>
				<div class="topButton"><a href="/weather">Weather</a></div>
				<div class="topButton"><a href="/earth">Earthquakes</a></div>
				<div class="topButton"><a href="/development">U.N.</a></div>
				<div class="topButton"><a href="/about">About Us</a></div>
				<div class="topButton"><a href="/contact">Contact Us</a></div>
			</div>
		</div>
		
		<div class="container_12 main">
			
			<div class="grid_2">
				<div class="content1">
					<br/>
					<div class="menuid">UK Town Search</div>
					<form id="formo" method="post" action="/weather">
						<%= token_tag %>
						<center><input id="findme" type="input" name="textt"/ size="18"></center>
						<center><input id="pushme" type="submit" value="Submit"/></center>
					</form><br/><br/>
					<div class="menuid">Menu</div>
					<center><div class="sideButton"><a href="#" onclick="return show('home','country','3hour','metoffice')">Home</a></div>
					<div id="workplz" class="sideButton"><a href="#" onclick="return show('country','home','3hour','metoffice')">Map</a></div>
					<div class="sideButton"><a href="#" onclick="return show('3hour','country','home','metoffice')">3-Hourly</a></div>
					<div class="sideButton"><a href="#" onclick="return show('metoffice','country','3hour','home')">Twitter</a></div></center>
				</div>
			</div>
			
			<div class="grid_10">
							
						<div id='home'>
							<div class="content1">
								<br/><div class="headero">Home</div>
								<div class="bodyo">Welcome to the weather section of the website. The search bar to the left can be used to search for the weather in a particular town or city in the UK. Afterwards you can then use the menu to the left to view a weather map of the chosen location, a 5 day forecast of the location and its surroundings, and also check for weather alerts on the met office twitter.</div>
							</div>
						</div>
						
						<div id='daily' style="display:none">
						</div>
						
						<div id='3hour' style="display:none">
							<div class="content2">
								<p><script type="text/javascript" language="javascript" src="http://datapoint.metoffice.gov.uk/public/data/val/wxfcs/all/json/sitelist?key=db83096d-45ea-4527-b4af-8421de7f4370&callback=weatherfix"></script></p>
							</div>
						</div>
						
						<div id='metoffice' style="display:none">
							<div class="content3">
								<br/><div class="headero">Twitter</div>
												
								<center><a class="twitter-timeline" data-search-query="" data-screen-name="metofficeUK" href="https://twitter.com/search?q=aberdeen"  data-widget-id="443066904366694402">Tweets about "@metofficeUK aberdeen"</a></center>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
							</div>
						</div>
						
						<div id='country' style="display:none">
							<div class="content3">
								<br/><div class="headero">Map</div>
								<center><div class="bodyo">This is a map of the area you have searched for. Feel free to scroll around.</div></center>
								<center><div id="basicMap" style="height:600px;width:600px"></div></center>
							</div>
						</div>
					
			</div>
		</div>
		
	</body>
	
	<script src="http://openlayers.org/api/2.12/OpenLayers.js"></script>
	<script src="http://openweathermap.org/js/OWM.OpenLayers.1.3.4.js" ></script>

	<script type="text/javascript">
	var map;
	function init() {

	//Maps Center 

	var lonlat = new OpenLayers.LonLat(lon, lat);
	lonlat.transform(
		new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
		new OpenLayers.Projection("EPSG:900913") // to Spherical Mercator Projection
	);

    map = new OpenLayers.Map("basicMap");

	// Create overlays

	// OSM layer
    var mapnik = new OpenLayers.Layer.OSM();
	// stations layer
	var stations = new OpenLayers.Layer.Vector.OWMStations("Stations");
	// weather layer
	var city = new OpenLayers.Layer.Vector.OWMWeather("Weather");

	//connect layers to map
	map.addLayers([mapnik, stations, city]);

	//Add Layers swither
	map.addControl(new OpenLayers.Control.LayerSwitcher());       	

	map.setCenter( lonlat, 9);

	// Add popups 
	selectControl = new OpenLayers.Control.SelectFeature([city,stations]);
	map.addControl(selectControl);
	selectControl.activate(); 


}

</script>
	
</html>