<html>
	<head>
		  <title>Weather</title>
		  <%= stylesheet_link_tag "style1.css" %>
		  <%= stylesheet_link_tag "grid.css" %>
	</head>
	<body>
	<div class="header">
			<div class="container_12">
				<div class="topButton"><a href="/main">Home</a></div>
				<div class="topButton"><a href="/weather">Weather</a></div>
				<div class="topButton"><a href="/earthquakes">Earthquakes</a></div>
				<div class="topButton"><a href="/un">U.N.</a></div>
				<div class="topButton"><a href="/about">About Us</a></div>
				<div class="topButton"><a href="/contact">Contact Us</a></div>
			</div>
		</div>
		
		<div class="container_12 main">
			
			<div class="grid_2">
				<div class="content1">
					<br/>
					<div class="menuid">UK Town Search</div>
					<form id="formo" method="post" action="/weather">
						<%= token_tag %>
						<center><input id="findme" type="input" name="textt"/ size="18"></center>
						<center><input id="pushme" type="submit" value="Submit"/></center>
					</form><br/><br/>
					<div class="menuid">Menu</div>
					<center><div class="sideButton"><a href="#" onclick="return show('home','country','3hour','metoffice')">Home</a></div>
					<div id="workplz" class="sideButton"><a href="#" onclick="return show('country','home','3hour','metoffice')">Map</a></div>
					<div class="sideButton"><a href="#" onclick="return show('3hour','country','home','metoffice')">3-Hourly</a></div>
					<div class="sideButton"><a href="#" onclick="return show('metoffice','country','3hour','home')">Twitter</a></div></center>
				</div>
			</div>
			
			<div class="grid_10">
							
						<div id='home'>
							<div class="content1">
								<br/><div class="headero">Home</div>
								<div class="bodyo">Welcome to the weather section of the website. The search bar to the left can be used to search for the weather in a particular town or city in the UK. Afterwards you can then use the menu to the left to view a weather map of the chosen location, a 5 day forecast of the location and its surroundings, and also check for weather alerts on the met office twitter.</div>
							</div>
						</div>
						
						<div id='daily' style="display:none">
						</div>
						
						<div id='3hour' style="display:none">

						</div>
						
						<div id='metoffice' style="display:none">
							<div class="content3">
								<br/><div class="headero">Twitter</div>
												
								<center><a class="twitter-timeline" data-search-query="" data-screen-name="metofficeUK" href="https://twitter.com/search?q=aberdeen"  data-widget-id="443066904366694402">Tweets about "@metofficeUK aberdeen"</a></center>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
							</div>
						</div>
						
						<div id='country' style="display:none">

						</div>
					
			</div>
		</div>
		
	</body>
</html>